OPENAI_API_KEY=
ANTHROPIC_API_KEY=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

# Set to false to disable anonymized telemetry
ANONYMIZED_TELEMETRY=true

# LogLevel: Set to debug to enable verbose logging, set to result to get results only. Available: result | debug | info
BROWSER_USE_LOGGING_LEVEL=info
